:root {
    --dark-color: hsl(var(--hue), 100%, 9%);
    --light-color: hsl(var(--hue), 95%, 98%);
    --base: hsl(var(--hue), 95%, 50%);
    --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
    --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);
    --font-family: "Poppins", system-ui;
    --bg-gradient: linear-gradient(
            to bottom,
            hsl(var(--hue), 95%, 99%),
            hsl(var(--hue), 95%, 84%)
    );
}

/*Estilo da pag Login*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.25s ease-out;
}

html {
    font-family: "Muli", sans-serif ;
    color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* body {
    font-family: "Muli", sans-serif ;
    color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;

} */

body {
    /* background-color: #000; */
    background-color: rgba(255, 255, 255, 0.616);
    position: absolute;
    inset: 0;
    display: flex;
    place-content: center;
    align-items: center;
    overflow: hidden;
}

/* estilo do background */
@keyframes rotate {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.gradient {
    --size: 300px;
    --speed: 60s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    position: fixed;
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient( rgba(76, 0, 255, 0.822), rgba(37, 0, 245, 0.829));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 40% 90% 90% 40% / 40% 40% 90% 90%;
}

@media (min-width: 720px) {
    .gradient {
        --size: 700px;
    }
}

/* Isso é apenas para fazer a transição quando você altera o tamanho da janela de visualização.*/
* {
    transition: all 1.60s ease-out;
}

/* fim do estio */
/*estilo do formulario "buraco"*/


.buraco {
    position: fixed;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.514);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 4rem 3rem;

}


.buraco h1{
    text-align: center;
    max-width: 36rem;
    font-size: 1.875rem;
    line-height: 2.75rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    margin-bottom: 4rem;
    margin-top: 0;
}

.buraco a {

    text-decoration: none;
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 3rem;
    color: rgb(3, 26, 156);

}

/*estilo do efeito input e label*/


.estiloinput {
    color: rgb(8, 8, 8);
    position: relative;
    margin: 2rem 0 4rem;
    width : 300px;
}

.estiloinput input{

    background-color: transparent;
    border: 0;
    border-bottom: 2px rgb(10, 10, 10) solid;
    display: block;
    width: 100%;
    padding: 15px 0 ;
    font-size: 18px;
    color: rgb(76, 0, 255);

}


.estiloinput input:focus,
.estiloinput input:valid{

    outline: 0;
    border-bottom-color: #6545e6;
}

.estiloinput label {

    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.estiloinput label span {

    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.estiloinput input:focus + label span,
.estiloinput input:valid + label span {

    color: #6545e6;
    transform: translateY(-30px);
}


/*continuação do estilo do formulario, configuração de botão*/


.estilobotao {
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient( rgba(76, 0, 255, 0.822), rgba(37, 0, 245, 0.829));
    color: aliceblue; */
    color: var(rgba(0, 0, 0));
    background: var(--dark-color);
    width: 100%;
    height: 2.5rem;
    /* padding: 15rem; */
    border: 1rem solid var(rgba(0,0,0));
    border-radius: 0.5rem;
    transition: transform 150ms ease;
    /*border-radius: 1rem;*/
    font-size: 1rem;
    line-height: 1.75rem;
    /*text-decoration: none;*/

}



/*Efeito do botão*/

.estilobotao:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: rgba(0, 0, 0);
    border-radius: 1rem;

}

.estilobotao span {
    position: absolute;
    display: block;


}
/*
.estilobotao, span:nth-child(1){

    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #4e28f5b2);
    animation: bnt-animal 1s linear infinite;

}

@keyframes bnt-animal {

    0% {
        left: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.estilobotao, span:nth-child(2){

    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #532ef8b2) ;
    animation: btn-animal2 1s linear infinite;
    animation-delay: 0.25s;


}

@keyframes btn-animal2 {

    0% {
        top: -100%;

    }
    50%, 100% {
        top: 100%;
    }

}

.estilobotao, span:nth-child(3){

    bottom: 0;
    right:-100% ;
    width: 100% ;
    height: 2px;
    background: linear-gradient(270deg, transparent, #542effb2);
    animation: btn-animal3 1s linear infinite;
    animation-delay: .5s;

}

@keyframes btn-animal3 {
    0%{
        right: -100% ;
    }
    50%, 100%{
        right: 100%;
    }
}

.estilobotao, span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #5b37fab2);
    animation: btn-animal4 1s linear infinite;
    animation-delay: .75s;

}

@keyframes btn-animal4 {
    0% {

        bottom: -100%;
    }
    50%, 100% {

        bottom: 100%;
    }

} */

/*Continuação de estilo de botão*/

/* .estilobotao:focus {
    outline: 0;
}

.estilobotao:active {
    transform: scale(0.98);
} */



/*estilo do link para fazer a conta*/


.texto {
    margin-top: 3rem;
}

/* segunda tela de background */

.orb-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

strong {
    font-weight: 600;
}
/* Não é suportado em todos os browsers - Not too many browser support this yet but it's good to add! */
@media (prefers-contrast: high) {
    .orb-canvas {
        display: none;
    }
}

@media only screen and (max-width: 840px) {
    body {
        padding: 1.5rem;
    }
}