/*.oferta_descrição .oferta_title {*/
/*  color: var(--second-color);*/
/*  font-size: 1.8rem;*/
/*  font-weight: 400;*/
/*  padding: 1.5rem 0 0.5rem 0;*/
/*  border-top-right-radius: 10px;*/
/*  border-bottom-right-radius: 10px;*/
/*}*/

/*.oferta_descrição .oferta_hook {*/
/*  color: var(--second-color-alt);*/
/*  font-size: 1.2rem;*/
/*  border-radius: 10px;*/
/*  text-align: center;*/
/*  justify-items: center;*/
/*}*/

/*.oferta_descrição .carta-btn {*/
/*  cursor: pointer;*/
/*  text-align: center;*/
/*  color: var(--dark-color);*/
/*  font-size: 1.1rem;*/
/*  display: grid;*/
/*  place-items: center;*/
/*  margin: 2rem 0 1rem 0;*/
/*  width: 10rem;*/
/*  height: 3rem;*/
/*  border-radius: 10px;*/
/*  background-image: linear-gradient(*/
/*    to top,*/
/*    var(--third-color),*/
/*    var(--second-color)*/
/*  );*/
/*}*/

/*.oferta_descrição .carta-btn:hover {*/
/*  background-image: linear-gradient(*/
/*    to bottom,*/
/*    var(--primary-color-alt),*/
/*    var(--primary-color)*/
/*  );*/
/*}*/

::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ---Seleção de Produto--- */
/*
.seleção03 {
  display: grid;
  place-items: center;
  justify-content: space-around;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
}

.produto {
  cursor: pointer;
  background-color: var(--gray-color);
  position: relative;
  border-radius: 10px;
}

.produto::before {
  content: "";
  background-image: linear-gradient(
    to bottom,
    hsla(172, 100%, 75%, 0.575),
    hsla(0, 1%, 52%, 0.733)
  );
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
}

.produto_adiciona_cartao {
  color: var(--white-color-alt);
  font-size: 1.2rem;
  border-radius: 10px;
  text-align: center;
  background-color: hsl(199, 100%, 54%);
  padding: 1rem 0.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 300ms, color 300ms, box-shadow 300ms;
}

.produto_adiciona_cartao:hover {
  color: var(--white-color);
  box-shadow: 0 1rem 0 -0.5rem rgba(0, 109, 143, 0.7),
    0 2rem 0 -1rem hsla(199, 79%, 65%, 0.596);
} */

/* --- Seleção do Patriciondaor --- */

/* .seleção04 {
  margin: 4rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.isponsor img {
  cursor: pointer;
  width: 40px;
  height: 40px;
  filter: grayscale(100%);
  opacity: 0.8;
  transition: opacity 300ms;
} */

.isponsor img:hover {
    /* filter: grayscale(0); */
    opacity: 1;
}

/* ========= Seleção de Inscrições ========== */


/* Rodapé */
/*
.top_rodape {
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
}

.rodape_title {
  font-weight: 500;
  font-size: 1.2rem;
  padding: 1rem 0;
  background-image: -webkit-linear-gradient(
    80deg,
      var(--dark-color),
      var(--primary-color-alt)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rodape_items h3 {
  cursor: pointer;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 0.1rem 0;
  color: var(--white-color-alt);
}

.rodape_items h3:hover {
  text-decoration: underline;
}

.rodape_items h3:last-child {
  padding-bottom: 2rem;
}

.fim_rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--third-color);
}

.direitoautoral {
  color: var(--white-color-alt);
  padding: 1rem 0;
  font-size: 0.9rem;
}

.direitoautoral b {
  font-weight: inherit;
  font-size: 0.9rem;
}

.estilo {
  color: hsl(0, 0%, 98%);
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
}

.estilo:hover {
  text-decoration: underline;
} */



/* Perguntas para a midia */

/* @media screen and (max-width: 768px) {
  .container {
    padding: 0 1rem;
  } */

/* Cabeçario */
/*
  header {
    padding: 0.5rem 1rem;
  }

  .navbar {
    background-color: var(--primary-color-alt);
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 500ms;
  }

  .show_navbar {
    display: flex;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 300ms;
  }

  .nav_items {
    display: flex;
    flex-direction: column;
  }

  .nav_item {
    margin: 0.5rem 0;
  }

  .menu_toggle {
    display: block;
  }

  .bx_menu {
    display: block !important;
  }

  .show_bx {
    display: block !important;
  }

  .hide_bx {
    display: none !important;
  } */
/*}*/
/*
@media (min-width: 769px) {
  header {
    padding: 1rem 5rem;
  } */
/* Principal */

/* Seleção de Inicio*/


/* -------- Seleção de Ofertas ------------- */
/* .seleção02 {
  margin: 2rem 5rem;
}

.oferta {
  margin: 5rem 0;
  align-items: center;
  justify-content: space-between;
  grid-template-rows: auto auto;
}

.oferta01 {
  grid-template-areas: "oferta01_img oferta_desc01";
}

.oferta01 img {
  background-color: var(--dark-color);
  padding: 2rem 0;
}

.oferta02 {
  grid-template-areas: "oferta_desc02 oferta02_img";
}

.oferta01_img {
  grid-area: oferta01_img;
}

.oferta02_img {
  grid-area:  oferta02_img;
}

.oferta_desc01 {
  grid-area: oferta_desc01;
}

.oferta_desc02 {
  grid-area: oferta_desc02;
}

.oferta_descrição .oferta_title {
  font-size: 1.9rem;
  padding: 1.5rem 0 0.5rem 0;
}

.oferta_descrição .oferta_hook {
  max-width: 30rem;
}

.oferta_descrição {
  background-color: var(--white-color-alt);
  padding: 2rem 1rem;
}

.oferta_descrição .oferta_title {
  padding: 0.5rem 0 1rem 0;
}

.oferta_descrição .carta-btn {
  margin: 2rem 0 0.5rem 0;
} */


/* --- Seleção de Produto --- */
/* .seleção03 {
  gap: 5rem;
}

.produto::before {
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 300ms;
}

.produto:hover::before {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 300ms;
}

.produto_adiciona_cartao{
  transform: scaleY(0);
  transform-origin: bottom;
}

.produto:hover .produto_adiciona_cartao {
  transform: translate(-50%, -50%) scaleY(1);
  transform-origin: top;
} */

/* --- Seleção do patrocinador --- */
/* .seleção04 {
  margin: 5rem 0;
} */

/* Seleção de Inscrição  */
/* .seleção05 {
  padding: 1rem 0;
}

.seleção05 .incrição_container {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 0 1rem;
  width: 15rem;
}

input[type="submit"] {
  width: 10rem;
} */

/* Rodapé */
/*
  .top_rodape {
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 2rem;
  }

  .rodape_title {
    font-size: 1rem;
    padding: 1rem 0;
  }

  .rodape_items h3 {
    font-size: 0.9rem;
  }

  .fim_rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--third-color);
  } */

/* .direitoautoral {
  color: hsla(0, 0%, 98%, 0.747);
  padding: 1rem 0;
  font-size: 0.8rem;
}

.direitoautoral b {
  font-size: 0.7rem;
} */

/* .estilo {
  color: hsla(0, 0%, 98%, 0.322);
  font-size: 0.8rem;
} */
/*}*/