:root {
    /*--dark-color: ;*/
    /*--light-color: ;*/
    /*--base: ;*/
    /*--complimentary1: ;*/
    /*--complimentary2: ;*/
    /*--font-family: "Poppins", system-ui;*/
    /*--bg-gradient:;*/
}

/*Estilo da pag Login*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.25s ease-out;
}

html{
    font-family: "Muli", sans-serif ;
    color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


body {
    /* background-color: #000; */
    background-color: rgba(255, 255, 255, 0.616);
    position: absolute;
    inset: 0;
    display: flex;
    place-content: center;
    align-items: center;
    overflow: hidden;
}