<!DOCTYPE html>
<!--suppress ALL -->
<html lang="pt-br" >
    <head>
        <meta charset="UTF-8">
        <meta author = "" name="Kay"/>
        <link rel="shortcut icon" href="imagens/logotipo.jpg">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FullSneakers</title>

        <!-- tabelinhas de conexões -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
        <link rel= "stylesheet" href="css/banner.css">
    </head>
    <body>
        <!-- Background -->
        <!-- <canvas class="orb-canvas"></canvas> -->
        <div class="gradient"></div>
        <!-- Sobreposção completa -->
        <div class="overlay">
            <!-- Div do icon - LogoTipo (quase)-  -->
            <div class="over_img">
                <span></span>
                <img src="imagens/tenis.png" title="sapato ícones"/>
            </div>
            <!-- sobreposição de dentro-->
            <div class="overlay__inner">

                <!-- Titulo / Logo -->
                <h1 class="overlay__title">
                    Hey, em busca de qualidade e
                    <span class="text-gradient">Preços</span> baixos?
                </h1>

                <!-- Descrição do site -->
                <!--suppress SpellCheckingInspection -->
                <p class="overlay__description">
                    Na
                    <span class="text-gradient">FullSneakers</span>
                    as coisas funcionam dessa maneira.
                    Tênis e Calçados diversos modelos, venha conosco vivenciar uma experiencia incrível
                    com as variedades dos produtos. E agora, oficialmente
                    <!-- descrição em negrito -->
                    <strong>a um clique de você.</strong>
                </p>

                <!-- DIV  dos botões -->
                <div class="overlay__btns">
                    <button class="overlay__btn overlay__btn--transparent">
                        <a href="/Login" target="_blank">
                            <span>Login</span>
                        </a>
                    </button>
                    <!-- !Comentando suposta classe : overlay__btn--colors! -->
                    <button class="overlay__btn overlay__btn--transparent">
                        <a href="/Cadastro" target="_blank">
                            <span>Cadastro</span>
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <!-- fim -->
        <script type="module" src="js/banner.js"></script>
    </body>
</html>