<!DOCTYPE html>
<html lang = "pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta autor = "Kay">
        <title> Login </title>
        <link rel="shortcut icon" href="imagens/tenis.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/login.css"/>
        <script type="text/javascript" src="/js/codificando.js"></script>
    </head>
    <body>
        <!-- <canvas class="orb-canvas"></canvas> -->
        <div class="gradient"></div>
        <div class = "buraco">
            <h1> Faça o Login </h1>
            <!-- {!comentando o method="get"!} -->
            <form action="#">
                <div class = "estiloinput">
                    <input type= "text" name = "" required = ""/>
                    <label><span>Email</span></label>
                </div>
                <div class="estiloinput">
                    <input type = "password" name = "logpass" required = "" id="logpass"/>
                    <label><span>Senha</span></label>
                </div>
                <span></span>
                <button class = "estilobotao" id="overlay__btns">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <b>Entrar</b>
                </button>

                <p class="texto"> Faça cadastro
                    <a href = "/Cadastro"><b>Clique aqui para cadastro</b></a>
                </p>
            </form>
        </div>
    </body>
</html>