<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="autor" content="Kaylane Fernandes">
        <title> FullSneakers</title>
        <link href="css/loja.css" rel="stylesheet">
        <script type="text/javascript" src="js/Loja.js"></script>
    </head>
    <body>
        <header>
            <div class="logo">T</div>
            <nav class="navbar">
                <ul class="nav_items">
                    <li class="nav_item"><a href="#inicio" class="nav_link">Inicio</a></li>
                    <li class="nav_item"><a href="#ofertas" class="nav_link">Ofertas</a></li>
                    <li class="nav_item"><a href="#loja" class="nav_link">Loja</a></li>
                    <li class="nav_item"><a href="#contatos" class="nav_link">Contato</a></li>
                </ul>
            </nav>
            <div class = "efeito" id = "inicio">
                <div></div>
                <div></div>
            </div>
            <div class="menu_toggle">
                <i class="bx bx_menu"></i>
                <i class="bx bx_x"></i>
            </div>
        </header>
        <main>
            <!-- Seleção de Inicio -->
            <section class="container seleção01">
                <div class="islogan">
                    <h1 class="compania_title">Tecnologia</h1>
                    <h2 class="compania_islogan">
                        A maior loja de informática da região, aonde a satisfação do cliente é prioridade.
                    </h2>
                </div>

                <div class="compania_title container">
                    <img class="compania_title" src="https://github.com/r-e-d-ant/Computer-store-website/blob/main/assets/images/home_img.png?raw=true" alt="um computador no escuro com sombra" class="incio_img">
                </div>
            </section>

            <!-- Ofertas de Seleção -->
            <section class="container seleção02" id="ofertas">
                <!-- Oferta 01 -->
                <div class="oferta oferta01">
                    <img src="https://github.com/r-e-d-ant/Computer-store-website/blob/main/assets/images/offer_1.png?raw=true" alt="um computador no escuro com sombra" class="oferta_img oferta01_img">
                    <div class="oferta_descrição oferta_desc01">
                        <h2 class="oferta_title">Macbook pro</h2>
                        <p class="oferta_hook">Este é um Macbook, feito para você. Com inumeras formas de priorizar seu trabalho ou Lazer</p>
                        <div class="carta-btn">Adicione no seu carrinho</div>
                    </div>
                </div>
                <!-- Oferta 02 -->
                <div class="oferta oferta02">
                    <img src="https://github.com/r-e-d-ant/Computer-store-website/blob/main/assets/images/offer_2.png?raw=true" alt="um computador aberto" class="oferta_img oferta02_img ">
                    <div class="oferta_descrição oferta_desc02">
                        <h2 class="oferta_title">Lenovo</h2>
                        <p class="oferta_hook">Este é um Lenovo, feito para você. Com inumeras formas de priorizar seu trabalho ou Lazer</p>
                        <div class="carta-btn">Adiciona no seu carrinho</div>
                    </div>
                </div>
            </section>

            <!-- Seleção de Produtos-->
            <section class="container seleção03" id ="loja">
                <!-- produto 01 -->
                <div class="produto produto01">
                    <img src="https://github.com/r-e-d-ant/Computer-store-website/blob/main/assets/images/comp_1.png?raw=true" alt="um computador aberto" class="produto_img">
                    <span class="produto_adiciona_cartao">Adiciona no seu carrinho</span>
                </div>
                <!-- produto 02 -->
                <div class="produto produto02">
                    <img src="https://github.com/r-e-d-ant/Computer-store-website/blob/main/assets/images/comp_2.png?raw=true" alt="um computador aberto" class="produto_img">
                    <span class="produto_adiciona_cartao">Adiciona no seu carrinho</span>
                </div>
                <!-- Produto 03 -->
                <div class="produto produto03">
                    <img src="https://github.com/r-e-d-ant/Computer-store-website/blob/main/assets/images/comp_3.png?raw=true" alt="um computador aberto" class="produto_img">
                    <span class="produto_adiciona_cartao">Adiciona no seu carrinho</span>
                </div>
                <!-- produto 04 -->
                <div class="produto produto04">
                    <img src="https://github.com/r-e-d-ant/Computer-store-website/blob/main/assets/images/comp_4.png?raw=true" alt="um computador aberto" class="produto_img">
                    <span class="produto_adiciona_cartao">Adicionano seu carrinho</span>
                </div>
            </section>

            <!-- Seleção do patrocionador -->
            <section class="container seleção04">
                <!-- patrocionador  groupo 01 -->
                <div class="isponsor isponsor01"><img src="https://raw.githubusercontent.com/r-e-d-ant/Computer-store-website/b90ac65459206fef22e9b87313f587185554263b/assets/images/microsoft.svg" alt=""></div>
                <div class="isponsor isponsor02"><img src="https://raw.githubusercontent.com/r-e-d-ant/Computer-store-website/b90ac65459206fef22e9b87313f587185554263b/assets/images/apple.svg" alt=""></div>

                <!-- patrocionador  groupo 02 -->
                <div class="isponsor isponsor03"><img src="https://raw.githubusercontent.com/r-e-d-ant/Computer-store-website/b90ac65459206fef22e9b87313f587185554263b/assets/images/dell.svg" alt=""></div>
                <div class="isponsor isponsor04"><img src="https://raw.githubusercontent.com/r-e-d-ant/Computer-store-website/b90ac65459206fef22e9b87313f587185554263b/assets/images/ibm.svg" alt=""></div>
            </section>

            <!-- Seleção de Inscrição-->
            <section class="container seleção05">
                <h2 class="rotulode_entrada">Noticías</h2>
                <div class="inscrição_container">
                    <input type="text" id="email_inscrição" placeholder="Adicione o E-mail">
                    <input type="submit" value="Inscrever-se">
                </div>
            </section>
        </main>
        <footer id = "contatos">
            <div class="container top_rodape">
                <!-- Item 01 rodapé -->
                <div class="rodape_item">
                    <h2 class="rodape_title">Criadores</h2>
                    <div class="rodape_items">
                        <h3>Kalane</h3>
                        <h3>Fernandes</h3>
                        <h3>ST18</h3>
                    </div>
                </div>

                <!-- Item 02 rodapé-->
                <div class="rodape_item">
                    <h2 class="rodape_title">Serviços</h2>
                    <div class="rodape_items">
                        <h3>imagine aqui algumas coisa</h3>
                        <h3>imagine aqui algumas coisa</h3>
                    </div>
                </div>

                <!-- Item 03 rodapé -->
                <div class="rodape_item">
                    <h2 class="rodape_title">Fornecedores</h2>
                    <div class="rodape_items">
                        <h3>Imagine alguem importante aqui.</h3>
                        <h3>Imagine alguem importante aqui.</h3>
                    </div>
                </div>

                <!-- Item 04 rodapé-->
                <div class="rodape_item">
                    <h2 class="rodape_title">Investimento</h2>
                    <div class="rodape_items">
                        <h3>Imagine algum aqui.</h3>
                        <h3>Imagine algum aqui.</h3>
                    </div>
                </div>
            </div>

            <div class="container fim_rodape">
                <div class="direitoautoral">direito autoral ©2022 - Presente • <b>Tecnologia</b></div>
                <a class="estilo" href="#">Kaylane Fernandes</a>
            </div>
        </footer>
    </body>
</html>